<thead>
<tr>
  <th>Node</th>
  <!--colSpan is not colspan-->
  <!--colSpan is custom property (non standard name)-->
  <!--colspan is standard property-->
  <th [colSpan]="2">CPU</th>
  <th [colSpan]="2">Memory</th>
  <th>Details</th>
</tr>
</thead>
<!--<ng-content></ng-content> tells Angular that this component has an insertion point for content-->
<!--When someone uses this element and they nest additional markup inside the element,
 it will be placed where the NgContent element currently sits-->
<!-- Được sử dung để chưa pure html bên trong -->
<!--trong trường hợp này, element này là header của table theo sau nó sẽ là các data row-->
<ng-content></ng-content>
