<div class="card card-block">
  <div class="card-body">
    <nav class="navbar navbar-dark bg-primary mb-1"
         [ngClass]="{'bg-danger':isDanger(), 'bg-success': !isDanger()}">
      <!--with [ngClass],class will be loaded when function return true-->
      <h1 class="navbar-brand mb-0">
        <!--{{title}}-->
        <!--<ng-content select="metric-description"></ng-content> will be replaced by the html tag <metric-description></metric-description> -->
        <!--instead using data binding this case using insertion point-->
      <ng-content select="metric-title"></ng-content>
      </h1>
    </nav>
    <h4 class="card-title">{{value}}/{{max}} ({{value / max |  percent:'1.0-2'}})</h4>
    <p class="card-text">
<!--      {{description}}-->
      <!--<ng-content select="metric-description"></ng-content> will be replaced by the html tag <metric-description></metric-description> -->
      <ng-content select="metric-description"></ng-content>
    </p>
    <!--Uses Ng-bootstrap Progress Bar and binds values into the component-->
    <ngb-progressbar [value]="value" [max]="max" [type]="isDanger() ?'danger' : 'success'"></ngb-progressbar>
  </div>
</div>
<!--{{value}} using binding value from controller to html template-->
<!-- | symbol what is called pipe, using translate by format-->
