<!-- #dashboardComponent mark element as template variable-->
<!--<app-navbar (onRefresh)="dashboard.generateData()"></app-navbar>
<app-dashboard #dashboard></app-dashboard>-->
<app-navbar (onRefresh)="refresh()"></app-navbar>
<ng-template #alertBox></ng-template>
<app-dashboard (onRefresh)="alert($event)" ></app-dashboard>

<!--<hello name="{{ name }}"></hello>-->
<!--<p>-->
<!--  Start editing to see some magic happen :)-->
<!--</p>-->
<!--<app-app-test1 [data]="data" [array]="array">-->
<!--  <app-child-content></app-child-content>-->
<!--</app-app-test1>-->
<!--<button (click)="onClick()">Change name</button>-->
